myservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="wscalc1" targetNamespace="https://obscure-plains-72326.herokuapp.com/wscalc1" xmlns="https://obscure-plains-72326.herokuapp.com/wscalc1" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <wsdl:message name="sumarRequest">
    <wsdl:part name="intA" type="xs:string"/>
    <wsdl:part name="intB" type="xs:string"/>
  </wsdl:message>

  <wsdl:message name="sumResponse">
    <wsdl:part name="sumres" type="xs:string"/>
  </wsdl:message>
   <wsdl:message name="subRequest">
    <wsdl:part name="intA" type="xs:string"/>
    <wsdl:part name="intB" type="xs:string"/>
  </wsdl:message>

  <wsdl:message name="subResponse">
    <wsdl:part name="subres" type="xs:string"/>
  </wsdl:message>
  <wsdl:message name="mulRequest">
    <wsdl:part name="intA" type="xs:string"/>
    <wsdl:part name="intB" type="xs:string"/>
  </wsdl:message>

  <wsdl:message name="mulResponse">
    <wsdl:part name="mulres" type="xs:string"/>
  </wsdl:message>
   <wsdl:message name="divRequest">
    <wsdl:part name="intA" type="xs:string"/>
    <wsdl:part name="intB" type="xs:string"/>
  </wsdl:message>

  <wsdl:message name="divResponse">
    <wsdl:part name="divres" type="xs:string"/>
  </wsdl:message>
  <wsdl:portType name="calcP">
    <wsdl:operation name="Add">
      <wsdl:input message="sumarRequest"/>
      <wsdl:output message="sumResponse"/>
    </wsdl:operation>
      <wsdl:operation name="Subtract">
      <wsdl:input message="subRequest"/>
      <wsdl:output message="subResponse"/>
    </wsdl:operation>
      <wsdl:operation name="Multiplicacao">
      <wsdl:input message="mulRequest"/>
      <wsdl:output message="mulResponse"/>
    </wsdl:operation>
    <wsdl:operation name="Divisao">
      <wsdl:input message="divRequest"/>
      <wsdl:output message="divResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="calcB" type="calcP">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Add">
      <soap:operation soapAction="Add"/>
      <wsdl:input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
      <wsdl:operation name="Subtract">
      <soap:operation soapAction="Subtract"/>
      <wsdl:input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multiplicacao">
      <soap:operation soapAction="Multiplicacao"/>
      <wsdl:input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Divisao">
      <soap:operation soapAction="Divisao"/>
      <wsdl:input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ws">
    <wsdl:port binding="calcB" name="calc">
      <soap:address location="https://obscure-plains-72326.herokuapp.com/wscalc1"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>